body {
    margin: 0;
    font-family: "Open Sans", "sans-serif";
    font-size: 12pt;
}

.header {
    height: 5em;
    width: 100%;
    background-color: rgb(61,61,61);
}

/* Login and sign up pages */
.login, .signup {
    text-align: center;
    padding: 1em;
}