body {
    margin: 0;
    font-family: Open Sans, Segoe UI, sans-serif;
    font-size: 11pt;
}

a {
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}

/* Default Layout for boxes, like Signup and Login*/
.box{
	background-color:rgb(61,61,61);
    text-align: center;
	color:white;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display:flex;
	display:-webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	
}

.box h1 {
	font-size:16pt;
	text-align:center;
	color:white;
	letter-spacing:0.1em;
	font-weight:normal;
}

.box input, button {
	margin:0.5em;
	padding:0.5em;
	width:18em;
	border:none;
	background-color:white;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	border-radius:2px;
	font-size:11pt;
}

.box input[type=checkbox]{
	width:12px;
}

.box input:disabled, button:disabled{
	background-color:rgb(211,211,211);
}

.box a {
	color:white;
	font-size:11pt;
	line-height:2em;
}

.header {
    height: 5em;
    width: 100%;
    background-color: rgb(61,61,61);
}

.default_container
{
	max-width:1280px;
	
}

.animated_background
{
	width:100%;
	height:100%;
	position:fixed;
	margin:0;
	padding:0;
	top:0;
	left:0;
	overflow:auto;
	background-color:rgb(61,61,61);
}

#t1{
	background-color:rgb(132,231,77);
}
#t2{
	background-color:rgb(222,241,27);
}
#t3{
	background-color:rgb(242,61,137);
}
#t4{
	background-color:rgb(122,111,247);
}

.coloredline {
	width:100%; 
	height:0.7em; 
	table-layout:fixed; 
	position:relative; 
	left:0; 
	top:0; 
	z-index:100;
    border-spacing:0px;
    border-collapse:collapse;
	border:none;
}
