<div class="header">
	<table class="coloredline" >
		<tr>
			<td id="t1"></td>
			<td id="t2"></td>
			<td id="t3"></td>
			<td id="t4"></td>
		</tr>
	</table>
	<div id="header_content">
		<div class="header_left">
		</div>
		<div class="header_center">
			<div id="logo_container">
				<a href="#/home">
					<img src="resources/images/logo.png" id="logo" />
				</a>
			</div>
		</div>
		<div class="header_right">
			<div data-ng-if="authenticated" data-ng-controller="authCtrl">
				<a href="#/profile">Mein Profil
				|
				<span class="notification_icons"><i class="fa fa-user-plus" aria-hidden="true"></i> {{friend_requests_ctr}}</span>
				|
				<span class="notification_icons"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{recommendations_ctr}}</span></a>
				|
				<a data-ng-click="logout();">Abmelden</a>
				
			</div>
		</div>
	</div>
</div>