<div data-ng-init="init()" class="default_container">
	<div  class="wrap_box">
		<div class="wrap_box_content">
			<div class="wrap_box_header">
				<h2>Meine Watchlist</h2>
			</div>
			<div data-ng-show="empty_watchlist">{{empty_watchlist_msg}}</div>
			<div class="default_list_box">
				<div data-ng-repeat="movie in watchlist" class="default_list_item">
					{{movie.title}}
				</div>
			</div>
		</div>
	</div>
	<div class="wrap_box">
		<div class="wrap_box_content">
			<div class="wrap_box_header">
				<h2>Meine Freunde</h2>
			</div>
			<div data-ng-show="empty_friendlist">{{empty_friendlist_msg}}</div>
			<div class="default_list_box">
				<div data-ng-repeat="friend in friends" class="default_list_item">
					{{friend.name}}
					<button name="delete_friend" data-ng-click="deleteFriend(friend.userID)">Löschen</button>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap_box">
		<div class="wrap_box_content">
			<div class="wrap_box_header">
				<h2>Freunde suchen</h2>
			</div>
			<form data-ng-submit="searchFriend(friend_query)" role="form">
				<input type="text" name="search_friends" placeholder="Suche nach Name, Email..." data-ng-model="friend_query"/>
			</form>
			<div data-ng-show="empty_friendsearch">{{empty_friendsearch_msg}}</div>
			<div class="default_list_box">
				<div data-ng-repeat="user in users" class="default_list_item">
					{{user.name}} {{user.email}}
					<button data-ng-click="sendFriendRequest(user)" data-ng-hide="user.requested">Anfrage senden</button>
					<button data-ng-click="cancelFriendRequest(user)" data-ng-hide="!user.requested">Anfrage abbrechen</button>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap_box">
		<div class="wrap_box_content">
			<div class="wrap_box_header">
				<h2>Gesehene Filme</h2>
			</div>
			<div data-ng-show="empty_watched">{{empty_watched_msg}}</div>
			<div class="default_list_box">
				
			</div>
		</div>
	</div>
</div>