<div class="default_container">
	<div class="wrap_box">
		<div class="wrap_box_content">
			<div class="wrap_box_header">
				<h2>Meine Watchlist</h2>
			</div>
		</div>
	</div>
	<div class="wrap_box">
		<div class="wrap_box_content">
			<div class="wrap_box_header">
				<h2>Meine Freunde</h2>
			</div>
		</div>
	</div>
	<div class="wrap_box">
		<div class="wrap_box_content">
			<div class="wrap_box_header">
				<h2>Freunde suchen</h2>
			</div>
			<form data-ng-submit="" role="form">
				<input type="text" name="search_friends" placeholder="Suche nach Name, Email..." data-ng-model="friend_name"></input>
			</form>
		</div>
	</div>
</div>