<div class="default_container">
	
	<div class="wrap_box">
			<div class="wrap_box_content">
				<div class="wrap_box_header">
					<h2>Autoren</h2>
					
				</div>
					<table>
						<tr>
							<td>Max Drechsler</td>
						</tr>
						<tr>
							<td>Steffen Knoblauch</td>
						</tr>
						<tr>
							<td>Yaiza Gonzalo Alt</td>
						</tr>
					</table>
			</div>
	</div>

	<div class="wrap_box">
			<div class="wrap_box_content">
				<div class="wrap_box_header">
					<h2>Adresse</h2>
				</div>
				<p>Duale Hochschule Baden-Württemberg Stuttgart
				<br>Rothebühlplatz 41
				<br>70174 Stuttgart</p>
			</div>
	</div>
	<div class="wrap_box">
			<div class="wrap_box_content">
				<div class="wrap_box_header">
					<h2>Kontakt</h2>
				</div>
				<p>Email: <a href="mailto:noreply@watchedthatmovie.ixdee.de">noreply@watchedthatmovie.ixdee.de</a></p>
			</div>
	</div>
	<div class="wrap_box">
			<div class="wrap_box_content">
				<div class="wrap_box_header">
					<h2>Über diese Website</h2>
				</div>
				<p>Diese Website wurde als ein Studienprojekt erstellt.<br>
				   Sie verfolgt keine kommerziellen Ziele.<br>
				   Diese Website ist zum Erlernung von Webdesign-Wissen gedacht<br>
				   Es gibt keinen Anspruch auf Vollständigkeit,<br>
				   Aktualität oder Richtigkeit der Daten.</p>
			</div>
	</div>
	
	<div class="wrap_box">
			<div class="wrap_box_content">
				<div class="wrap_box_header">
					<h2>Datenschutz</h2>
				</div>
				<p>
				Diese Website setzt Cookies ein. <br />
				Diese Website überträgt alle Daten über eine gesicherte HTTPS Verbindung.<br />
				Die Daten werden auf dem Server in Datenbanken gespeichert.<br />
				Passwörter werden nicht im Klartext gespeichert und können nicht wiederhergestellt werden.<br />
				Es wird keine Verantwortung übernommen für Daten, die durch die API themoviedb.org übermittelt werden.
				</p>
			</div>
	</div>
	
	
</div>