<div class="box" id="box_login">
	<div>
		<h2>Login</h2>
		<form name="loginForm" role="form">
		  <input type="email" placeholder="Email" name="email" ng-model="login.email" required focus/>
			<br />
		  <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
			<br />
		  <button type="submit" class="btn btn-default" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">Login</button>
			<br />
			Noch kein Account? <a href="#/signup">Registrieren!</a>
		</form>
	</div>
</div>