<div data-ng-controller="movieCtrl" class="poster_box">
	<div data-ng-repeat="m in results.matches" class="poster" data-ng-model="movie">
		<table style="width:100%; height:100%;">
			<tr>
				<td rowspan="2">
					<a href="#/movie/{{m.movieID}}">
						<img data-ng-src="{{checkPoster(m.poster)}}" class="poster_img"/>
					</a>
				</td>
				<td style="vertical-align:top;">
					<a href="#/movie/{{m.movieID}}">
					<div class="poster_content">
						<div class="poster_content_header"><h2>{{m.title}}</h2></div>
						<small><div class="poster_content_info">
							<div data-ng-hide="m.likes==0"><i class="fa fa-heart fa-2x" aria-hidden="true" style="font-size:1em;"></i> {{m.likes}}</div>
							<div style="text-align:right;">Erschienen: {{m.release_date}}</div>
						</div></small>
						<div class="poster_content_plot">
						{{m.plot}}
						</div>
					</div>
					</a>
				</td>
			</tr>
			<tr>
				<td>
				<div class="movie_interaction_buttons" style="min-width:16em;">
					<button data-ng-click="changeStatus('watchlist',m)">
						<i data-ng-if="m.status!='watchlist'" class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
						<i data-ng-if="m.status=='watchlist'" data-ng-style="btnColor" class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
					</button>
					<button data-ng-click="changeStatus('watched',m)">
						<i data-ng-if="m.status!='watched'" class="fa fa-eye fa-2x" aria-hidden="true"></i>
						<i data-ng-if="m.status=='watched'" data-ng-style="btnColor" class="fa fa-eye fa-2x" aria-hidden="true"></i>
					</button>
					<button data-ng-disabled="m.status!='watched'" data-ng-click="openRecommendDialog(m)">
						<i class="fa fa-share fa-2x" aria-hidden="true"></i>
					</button>
					<button data-ng-disabled="m.status!='watched'" data-ng-click="likeMovie(m)">
						<i data-ng-if="m.liked" data-ng-style="btnColor" class="fa fa-heart fa-2x" aria-hidden="true"></i>
						<i data-ng-if="!m.liked" class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
					</button>
				</div>
				</td>
			</tr>
		</table>
	</div>
</div>