<div data-ng-controller="movieCtrl" class="poster_box">
	<div data-ng-repeat="m in searchResults.matches" class="poster">
		<div style="display:flex;">
			<div class="poster_imgbox"><img src="{{checkPoster(m.poster);}}" class="poster_img" /></div>
			<div class="poster_content">
				<b>{{m.title}}</b>
				<br />
				{{m.release_date}}
				<br />
			</div>
			<div class="poster_menu">
				<button><img src="resources/images/star.png" /></button>
				<button><img src="resources/images/ok.png" /></button>
				<button><img src="resources/images/share.png" /></button>	
			</div>
		</div>
	</div>
</div>