<div data-ng-controller="movieCtrl" class="movie_list">
	<input type="text" name="filter_movie" placeholder="Titel filtern..." autocomplete="off" class="movie_list_filter" data-ng-model="filter_movie"/>
	<table class="list_table">
		<tbody>
			<tr data-ng-repeat="m in results | filter:{'title':filter_movie}" >
				<td>
					<a href="#/movie/{{m.movieID}}">{{m.title}}</a>
				</td>
				<td>
					<div class="movie_interaction_buttons" style="text-align:right">
						<button data-ng-click="changeStatus('watchlist',m)">
							<i data-ng-if="m.status!='watchlist'" class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
							<i data-ng-if="m.status=='watchlist'" data-ng-style="btnColor" class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
						</button>
						<button data-ng-click="changeStatus('watched',m)">
							<i data-ng-if="m.status!='watched'" class="fa fa-eye fa-2x" aria-hidden="true"></i>
							<i data-ng-if="m.status=='watched'" data-ng-style="btnColor" class="fa fa-eye fa-2x" aria-hidden="true"></i>
						</button>
						<button data-ng-disabled="m.status!='watched'" data-ng-click="openRecommendDialog(m)">
							<i class="fa fa-share fa-2x" aria-hidden="true"></i>
						</button>
						<button data-ng-disabled="m.status!='watched'" data-ng-click="likeMovie(m)">
							<i data-ng-if="m.liked" data-ng-style="btnColor" class="fa fa-heart fa-2x" aria-hidden="true"></i>
							<i data-ng-if="!m.liked" class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
						</button>
					</div>
				</td>

			</tr>
		</tbody>
	</table>

</div>