<div class="default_container">
	<!--div>
	 UserID: {{userID}}
	 <br/>NAME: {{name}}
	 <br/>E-MAIL: {{email}}
	 <br/>
	</div-->
	
	<div class="profile_box">
		<div class="profile_content_box" id="profile_me">
			<div class="profile_content_header">
				<h2>Profil</h2>
			</div>
			<table>
				<tr>
					<td>Name:</td>
					<td><textarea>{{name}}</textarea></td>
					<td><button disabled>ändern</button></td>
				</tr>
				<tr>
					<td>Mail:</td>
					<td><textarea>{{email}}</textarea></td>
					<td><button disabled>ändern</button></td>
				</tr>
				<tr>
					<td>Passwort:</td>
					<td><textarea placeholder="********"></textarea></td>
					<td><button disabled>ändern</button></td>
				</tr>
			</table>
		</div>
		<div class="profile_content_box" id="profile_settings">
			<div class="profile_content_header"><h2>Einstellungen</h2></div>
			<label><input type="checkbox" name="mail_notifications" />Nachrichten via Mail erhalten</label><br />
			<label><input type="checkbox" name="friend_requests" />Andere Nutzer können mich finden</label><br />
			<br />
			Farbschema:
			<input type="radio" name="color" value="apple" id="color_apple"/>
				<label class="profile_color_radio" for="color_apple"></label>
			<input type="radio" name="color" value="apple" id="color_banana"/>
				<label class="profile_color_radio" for="color_banana"></label>
			<input type="radio" name="color" value="apple" id="color_cherry"/>
				<label class="profile_color_radio" for="color_cherry"></label>
			<input type="radio" name="color" value="apple" id="color_blueberry"/>
				<label class="profile_color_radio" for="color_blueberry"></label>
			<input type="radio" name="color" value="default" id="color_default"/>
				<label class="profile_color_radio" for="color_default"></label>
		</div>
		
		<div class="profile_content_box">
			<div id="friend_box_header" class="profile_content_header">
				<div><h2>Freundschaftsanfragen</h2></div>
				<div>
					<form>
						<table>
							<tr>
								<td>
									<input type="text" placeholder="Freunde finden" />
								</td>
								<td>
									<button type="submit">Suche</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div id="profile_friends_content">
				<div class="friend_box_template">
					<div class="friend_box_template_img">
					
					</div>
					<div>
						<h3>Steffen</h3>
						<a>annehmen</a><br />
						<a>ablehnen und blockieren</a>
					</div>
				</div>
				<div class="friend_box_template">
					<div class="friend_box_template_img">
					
					</div>
					<div>
						<h3>Yaiza</h3>
						<a>annehmen</a><br />
						<a>ablehnen und blockieren</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="profile_box">
		
	</div>
	
	
</div>
