<div data-ng-init="init()" class="default_container">
	<div class="wrap_box">
		<div class="wrap_box_content">
			<div id="profile_info">
				<div class="wrap_box_header">
					<h2>Profil</h2>
				</div>
				<div class="profile_image">
					<div class="profile_img">

						<canvas class='profile_img_canvas' id="canvas"></canvas>
					</div>
				</div>
				<table>
					<tr>
						<td>Name:</td>
						<td><input class="profile_input" data-ng-model="profile_name" data-ng-change="compareName(profile_name)"/></td>
						<td><button class="profile_input" data-ng-disabled="!name_changed" data-ng-click="changeName(profile_name)">ändern</button></td>
					</tr>
					<tr>
						<td>Mail:</td>
						<td><input class="profile_input" data-ng-model="profile_email" data-ng-change="compareEmail(profile_email)"/></td>
						<td><button class="profile_input" data-ng-disabled="!email_changed" data-ng-click="changeEmail(profile_email)">ändern</button></td>
					</tr>
					<tr>
						<td>Passwort (aktuell):</td>
						<td><input type="password" name="old_pw" class="profile_input" placeholder="********" data-ng-model="old_pwd"/></td>
						<td></td>
					</tr>
					<tr>
						<td>Passwort (neu):</td>
						<td><input type="password" class="profile_input" placeholder="********" data-ng-model="new_pwd"/></td>
						<td><button class="profile_input" data-ng-click="changePassword(old_pwd,new_pwd)">ändern</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="wrap_box">
		<div class="wrap_box_content">
			<div id="profile_settings">
				<div class="wrap_box_header">
					<h2>Einstellungen</h2>
				</div>
				<!--
				<label><input type="checkbox" name="mail_notifications" />Nachrichten via Mail erhalten</label><br />
				<label><input type="checkbox" name="friend_requests" />Andere Nutzer können mich finden</label><br />
				<br />
				-->
				<div data-ng-init="color" >
					<table>
						<tr>
							<td width="1">
								Farbschema:
							</td>
							<td>
								<input type="radio" data-ng-model="color" data-ng-change='changeColor(color)' value="apple" id="color_apple"/>
								<label class="profile_color_radio" for="color_apple"></label>
							</td>
							<td>
								<input type="radio" data-ng-model="color" data-ng-change='changeColor(color)' value="banana" id="color_banana"/>
								<label class="profile_color_radio" for="color_banana"></label>
							</td>
							<td>
								<input type="radio" data-ng-model="color" data-ng-change='changeColor(color)' value="raspberry" id="color_raspberry"/>
								<label class="profile_color_radio" for="color_raspberry"></label>
							</td>
							<td>
								<input type="radio" data-ng-model="color" data-ng-change='changeColor(color)' value="plum" id="color_plum"/>
								<label class="profile_color_radio" for="color_plum"></label>
							</td>
							<td>
								<input type="radio" data-ng-model="color" data-ng-change='changeColor(color)' value="default" id="color_default"/>
								<label class="profile_color_radio" for="color_default"></label>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap_box">
		<div class="wrap_box_content">
			<div class="wrap_box_header">
				<h2>Empfehlungen</h2>
			</div>
			<div data-ng-show="empty_recommendations">{{empty_rec_msg}}</div>
			<div class="default_list_box">
				<div data-ng-repeat="rec in recommendations" class="default_list_item">
					<div>
						<div class="unread_recs">
							<i data-ng-if="!rec.read" class="fa fa-circle" aria-hidden="true" title="neue Empfehlung!"></i>
							<i data-ng-if="rec.read" class="fa fa-circle-o" aria-hidden="true" title="gelesen"></i>
						</div>
						<span class="recommendation_from">Von: {{rec.name}}</span>
						<button name="delete_rec" data-ng-click="deleteRecommendation(rec)"><i class="fa fa-times" aria-hidden="true"></i></button>
						<br>
						<div class="recommendation_movie" data-ng-click="readRecommendation(rec)">{{rec.title}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap_box">
		<div class="wrap_box_content">
			<div class="wrap_box_header">
				<h2>Offene Freundschaftsanfragen</h2>
			</div>
			<div data-ng-show="empty_requests">{{empty_requests_msg}}</div>
			<div class="default_list_box">
				<div data-ng-repeat="request in pending_requests" class="default_list_item">
					{{request.name}}
					<button name="deny_request" data-ng-click="denyFriendRequest(request.userID)">Ablehnen</button>
					<button name="accept_request" data-ng-click="acceptFriendRequest(request.userID)">Annehmen</button>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap_box">
		<div class="wrap_box_content">
			<div class="wrap_box_header">
				<h2>Gesendete Freundschaftsanfragen</h2>
			</div>
			<div data-ng-show="empty_sent_requests">{{empty_sent_requests_msg}}</div>
			<div class="default_list_box">
				<div data-ng-repeat="request in sent_requests" class="default_list_item">
					{{request.name}}
					<button name="cancel_request" data-ng-click="cancelFriendRequest(request)">Abbrechen</button>
				</div>
			</div>
		</div>
	</div>
</div>
