/* footer styles */
#footer {
	position:relative;
	
}
.footer {
	position:relative;
	padding:0.5em 0;
	width: 100%;
	max-width:100%;
	overflow:hidden;
	background-color: rgb(61,61,61);
	z-index:100;
}

#footer_content
{
	position:relative;
	text-align:center;
}

.footer a
{
	color:white;
}
