/* header styles */
#header {
	position:relative;
	z-index:100;
}
.header {
	position:relative;
	min-height: 7em;
	width: 100%;
	max-width:100%;
	overflow:hidden;
	background-color: rgb(61,61,61);
	z-index:100;
}

.header_left, .header_right
{
	-webkit-flex:1 1 auto;
	flex:1;
	word-wrap:break-word;
	min-width:16em;
}

.header_left {
	padding:1em 0;
}

.header_right {
	padding:1em;
	text-align:right;
	color:white;
}

#logo
{
	margin-top:1.2em;
	height:4em;
}

#header_content
{
	position:relative;
	width:100%;
	height:90%;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap: wrap;
	flex-wrap:wrap;
	-webkit-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	justify-content:center;
}

.header a
{
	color:white;
}

/* the accent colors in header */
.coloredline {
	width:100%;
	height:0.5em;
	table-layout:fixed;
	position:relative;
	left:0;
	top:0;
	border-spacing:0;
	border-collapse:collapse;
	border:none;
}

#t1{
	background-color:rgb(149,211,28);
}
#t2{
	background-color:rgb(239,231,16);
}
#t3{
	background-color:rgb(234,53,143);
}
#t4{
	background-color:rgb(105,22,233);
}
