/* global styles */
body {
    margin:0;
	padding:0;
	position:absolute;
	max-width:100%;
	min-height:100%;
    font-family: Open Sans, Segoe UI, sans-serif;
    font-size: 100%;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column;
}

a {
	text-decoration:none;
	color: black;
}

a:hover
{
	text-decoration:underline;
	cursor:pointer;
}

input:focus{
	outline:none;
}

/* basic style of content */
#ng-view
{
	position:relative;
	width:100%;
	padding:1em;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	-webkit-flex:1;
	flex:1;
}

/* .box class: this container overrides all other visible content, excpet for the header. used for signup and login*/
.box{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:rgb(61,61,61);
    text-align: center;
	color:white;
	
	display:-webkit-flex;
	display:flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	
}

.box h2 {
	font-size:1.5em;
	text-align:center;
	color:white;
	letter-spacing:0.1em;
	font-weight:normal;
}

.box input, .box button {
	margin:0.5em;
	padding:0.5em;
	width:18em;
	border:none;
	background-color:white;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	border-radius:2px;
	font-size:1em;
}

.box input[type=checkbox]{
	width:12px;
}

.box input:disabled, .box button:disabled{
	background-color:rgb(211,211,211);
}

.box a {
	color:white;
	font-size:1em;
	line-height:2em;
}


.default_container
{
	position:relative;
	width:100%;
	max-width:100%;
	overflow:hidden;
	
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap: wrap;
	flex-wrap:wrap;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.default_flex_item {
	-webkit-flex:1 1 auto;
	flex:1 1 auto;
}

.wrap_box {
	-webkit-flex:1 1 auto;
	flex:1 1 auto;
	min-width:30%;
	padding:2em;
	min-height:10em;
	position:relative;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.wrap_box_content {
	position:relative;
	width:100%;
	min-width:360px;
	margin:auto;
	max-height:100%;
	overflow:auto;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.wrap_box_header {
	background-color:rgb(233,233,233);
	padding:0.1em 1em;
	margin-bottom:1em;
}

.default_container h1
{
	font-weight:lighter;
	color:rgb(61,61,61);
}

.default_container h2
{
	font-weight:lighter;
	color:rgb(61,61,61);
	font-size:1.4em;
	line-height:1em;
}

.default_list_box {
	max-height:17em;
	overflow-y:auto;
}

.default_list_item {
	position:relative;
	padding:0.5em;
}

.default_list_item:hover  {
	background-color:rgb(244,244,244);
	cursor:default;
}

.default_list_item button {
	border:none;
	outline:none;
	background-color:rgba(0,0,0,0);
	float:right;
	cursor:pointer;
}
.default_list_item button:hover{
	text-decoration:underline;
}


/* error message */
.error-message {
	color: rgb(153, 0, 0);
	background-color: rgb(255, 204, 204);
	padding: 0.8em;
	margin: 0.5em 0 0.5em 0;
}

/* popup */
.popup {
	padding:1em;
}

.popup input[type=text]{
	width:100%;
	padding:0.5em;
	margin:0.5em 0;
	border:2px solid rgb(61,61,61);
}

.popup input[type=radio]{
	margin:1em;
	z-index:100;
	position:absolute;
	padding:0;
}

.popup label{
	display:inline-block;
	width:100%;
}

.popup button {
	padding:0.5em;
	border:none;
	background-color:transparent;
	font-size:1em;
}
.popup button:hover:enabled {
	text-decoration:underline;
	cursor:pointer;
}