/* special overrides for different screen sizes */


/* smarphone */
@media screen and (orientation:portrait) and (max-device-width:480px) {
	
	#logo {
		height:3em;
	}
	.wrap_box {
		min-width:100%;
		padding:1em 0;
	}
	.header_left, .header_right
	{
		-webkit-flex:1 1 auto;
		flex:1 1 auto;
	}
	.footer_left, .footer_right
	{
		-webkit-flex:1 1 auto;
		flex:1 1 auto;
	}

}
/* smartphone landscape */

@media screen and (orientation:landscape) and (max-width:60em) {

	body {
		font-size:0.8em;
	}
}

/* tablets */
@media screen and (orientation:portrait) and (min-device-width:480px) and (max-device-width:1024px) {

	body {
		font-size:1.2em;
	}
	.wrap_box {
		-webkit-flex:1 1 auto;
		flex:1 1 auto;
		width:100%;
	}
	.wrap_box_content h2{
		text-align:center;
	}
}

/* tablets landscape */
@media screen and (orientation:landscape) and (min-width:61em) and (max-width:80em) {

	.wrap_box {
		-webkit-flex:1 1 auto;
		flex:1 1 auto;
	}
}

/* else */